.App {
  text-align: center;
}

div.logo-deloitte {
  position: relative;
  display: flex;
  width: 165px;
  height: 30px;
  margin: 25px auto;
}

div.logo-deloitte img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 576px) {
  div.logo-deloitte {
    margin: 25px 30px;
  }
}
