* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: url("./assets/nodes.jpg") no-repeat; /* Just for this project where there is one component */
    background-size: cover;
}

#root {
    min-height: 100vh;
}
